# Escludere la cartella __pycache__
__pycache__/
classes/__pycache__/
utils/__pycache__/

# Escludere i file .pyc e .pyo
*.pyc
*.pyo
*.pyd

# Escludere i file di log e i profili di Python
*.log
*.prof
